<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'restaurant-list' %}">RestaurantHUB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'restaurant-create' %}">Create Restaurant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'favorite-restaurant' %}">Favorite Restaurant</a>
        </li>
        <li class="nav-item">
          <div class="nav-link">{{request.user}}</div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signout' %}">Signout</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signup' %}">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signin' %}">Signin</a>
        </li>
      {% endif %}
    </ul>
    
    <form class="form-inline my-2 my-lg-0" action="{% url 'restaurant-list' %}">
      <input class="form-control mr-sm-2" type="text" name='q' placeholder="Search" value="{{request.GET.q}}">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    
  </div>
</nav>